/* Contenedor principal */
.step-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    position: relative;
  }
  
  /* Título */
  h2 {
    font-size: 1.8rem;
    color: #0E2954;
    margin-bottom: 20px;
  }
  
  /* Estilos de la sección de invitación */
  .permissions-form label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    display: block;
  }
  
  .invite-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  /* Campo de entrada de correo */
  .invite-section input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
    font-size: 1rem;
  }
  
  .invite-section input[type="email"]:focus {
    border-color: #1A73E8;
    box-shadow: 0 0 5px rgba(26, 115, 232, 0.2);
    outline: none;
  }
  
  /* Botón de enviar */
  .send-button {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .send-button:hover {
    background-color: #5275d6;
  }
  
  /* Botón de continuar en la esquina superior derecha */
  .continue-button {
    background-color: #1a73e8; /* Morado */
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .continue-button:hover {
    background-color: #1f58a2;
  }
  