* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: visible; /* Asegura que los menús no queden ocultos */
  position: initial; /* Evita que restrinja elementos hijos posicionados */
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #e9e1e1;
  color: #333;
  margin: 0;                        /* Asegura que no haya margen en el body */
}
